button {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

button.button--pill {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  -ms-border-radius: 500px;
  border-radius: 500px; }

button.button--blue, button.button--add-to-bag, button.button--transact, button.button--white {
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25); }

.commons--content-examples {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: soleil, serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: .3px;
  color: #000;
  -webkit-font-smoothing: antialiased; }
  .commons--content-examples input, .commons--content-examples button, .commons--content-examples select, .commons--content-examples textarea {
    font-family: soleil, serif;
    -webkit-font-smoothing: antialiased; }

button.button--blue, button.button--white, button.button--subtle, button.button--add-to-bag, button.button--transact {
  padding: 0 24px;
  font-size: 0.8125rem;
  line-height: 44px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 44px; }
  button.button--blue:active, button.button--white:active, button.button--subtle:active, button.button--add-to-bag:active, button.button--transact:active {
    position: relative;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0); }
  button.button--disabled.button--blue, button.button--disabled.button--white, button.button--disabled.button--subtle, button.button--disabled.button--add-to-bag, button.button--disabled.button--transact {
    color: #AAA;
    background: #DDD;
    cursor: not-allowed;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0); }
    button.button--disabled.button--blue:hover, button.button--disabled.button--white:hover, button.button--disabled.button--subtle:hover, button.button--disabled.button--add-to-bag:hover, button.button--disabled.button--transact:hover {
      background: #DDD; }

button.button--quickshop, button.button--pdp-secondary {
  padding: 0 18px;
  font-size: 0.75rem;
  line-height: 36px;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: 36px; }
  button.button--quickshop:active, button.button--pdp-secondary:active {
    position: relative;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0); }
  button.button--disabled.button--quickshop, button.button--disabled.button--pdp-secondary {
    color: #aaa;
    background: #DDD;
    cursor: not-allowed;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0);
    -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0); }
    button.button--disabled.button--quickshop:hover, button.button--disabled.button--pdp-secondary:hover {
      background: #DDD; }

button.button--blue {
  font-weight: 700; }

button.button--white, button.button--subtle, button.button--quickshop, button.button--pdp-secondary {
  font-weight: 400; }

button.button--add-to-bag, button.button--transact {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  width: 100%; }

button {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4;
  text-align: center;
  color: #000;
  background: #FFF;
  width: auto;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-in-out 0s;
  -moz-transition: all 0.1s ease-in-out 0s;
  -ms-transition: all 0.1s ease-in-out 0s;
  -o-transition: all 0.1s ease-in-out 0s;
  transition: all 0.1s ease-in-out 0s; }
  button.button--blue {
    color: #FFF;
    background: #0161FF; }
    button.button--blue:hover {
      background: #2074FF; }
  button.button--white {
    color: #0161FF;
    background: #FFF; }
  button.button--subtle {
    text-transform: none;
    color: #0161FF;
    background: #FFF; }
  button.button--quickshop {
    position: absolute;
    bottom: 12px;
    left: 12px;
    width: calc(100% - 24px);
    color: #000;
    background: rgba(255, 255, 255, 0.8);
    border: 1px solid #DDD; }
    button.button--quickshop:hover {
      background: white; }
    button.button--quickshop:active {
      position: absolute; }
  button.button--pdp-secondary {
    color: #000;
    background: #F2F2F2; }
    button.button--pdp-secondary:hover {
      background: #E2E2E2; }
  button.button--add-to-bag {
    color: #FFF;
    background: #000; }
    button.button--add-to-bag:hover {
      background: #222; }
  button.button--transact {
    color: #FFF;
    background: #0161FF; }
    button.button--transact:hover {
      background: #2074FF; }
  button.button--pill {
    padding: 0 18px;
    height: 30px;
    line-height: 30px;
    font-size: 10px;
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #0161FF;
    background: #FFF; }
    button.button--pill:hover {
      -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05); }
  button.button--cta {
    padding: 0;
    height: 44px;
    line-height: 36px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    background: transparent;
    border-bottom: 2px solid #000;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    border-radius: 0; }
  button:focus {
    outline: 1px dotted #000; }

dl {
  margin: 30px;
  display: flex; }
  dl dt {
    padding: 15px;
    width: 50%;
    max-width: 375px; }
  dl dd {
    padding: 15px;
    width: 50%; }

.product-tile {
  position: relative;
  width: 100%; }
  .product-tile .product-tile--image {
    position: relative; }
  .product-tile img {
    display: block;
    max-width: 100%; }

/*# sourceMappingURL=buttons.css.map */
