.commons--nav .commons--nav-subnav ul li a, .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dd .copy {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s; }

.commons--nav .commons--nav-subnav ul li a, .commons--content section .commons--content-example, .commons--content section.commons--content-usage .commons--content-variations, .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dd, .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dd .copy, .commons--content section.commons--content-properties .commons--content-property .commons--content-property-header code {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px; }

.commons--nav {
  -webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.15); }

.commons--content section .commons--content-example, .commons--content section.commons--content-usage .commons--content-variations, .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dd .copy:hover {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15); }

.commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dd .copy:active {
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: .3px;
  color: #000;
  -webkit-font-smoothing: antialiased;
  background: #F5F5F5; }

input, button, select, textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased; }

h1 {
  font-size: 20px;
  font-weight: 500;
  color: #000;
  letter-spacing: -0.3px;
  line-height: 20px; }

h2 {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700; }

h3 {
  padding: 0 30px;
  margin: 0 0 15px;
  font-size: 11px;
  line-height: 11px;
  text-transform: uppercase;
  color: #05AF71;
  letter-spacing: 0; }

a {
  color: #00AD77;
  text-decoration: none; }
  a:focus {
    outline: 1px dotted #000; }

img {
  display: block;
  max-width: 100%; }

.commons--nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  width: 300px;
  height: 100%;
  background: #FFF; }
  .commons--nav .commons--nav-main {
    width: 60px;
    height: 100%;
    background: #05AF71; }
    .commons--nav .commons--nav-main .commons-nav-logo {
      margin: 8px;
      width: 44px;
      height: 44px; }
      .commons--nav .commons--nav-main .commons-nav-logo a {
        display: block;
        width: 44px;
        height: 44px;
        text-indent: -9999px;
        background: url("../img/jcrew-commons-logo.svg") no-repeat center center; }
  .commons--nav .commons--nav-subnav {
    padding: 0;
    width: 240px;
    height: 100%;
    background: #FFF;
    overflow: scroll; }
    .commons--nav .commons--nav-subnav .commons--subnav-header {
      margin: 18px 0 30px 15px; }
      .commons--nav .commons--nav-subnav .commons--subnav-header a {
        display: block;
        width: 134px;
        height: 26px;
        text-indent: -9999px;
        background: url("../img/commons-logo.svg") no-repeat left top; }
    .commons--nav .commons--nav-subnav ul {
      list-style: none;
      margin-bottom: 25px;
      padding: 0 15px; }
      .commons--nav .commons--nav-subnav ul li {
        width: 100%;
        font-size: 14px; }
        .commons--nav .commons--nav-subnav ul li a {
          display: block;
          padding: 0 15px;
          height: 40px;
          line-height: 40px;
          color: #000; }
          .commons--nav .commons--nav-subnav ul li a:hover {
            background: #F5F5F5; }
        .commons--nav .commons--nav-subnav ul li.active a {
          color: #00AD77;
          background: #F5F5F5; }

.commons--content {
  margin-left: 300px;
  width: calc(100% - 300px); }
  .commons--content section {
    margin: 0 auto;
    padding: 30px;
    min-width: 640px;
    max-width: 960px; }
    .commons--content section.commons--content-header h1 {
      margin-bottom: 15px; }
    .commons--content section.commons--content-header p {
      margin-bottom: 30px; }
    .commons--content section .commons--content-example {
      position: relative;
      width: 100%;
      height: 480px;
      background: #FFF; }
      .commons--content section .commons--content-example .commons--example-container {
        position: relative;
        margin: 0 auto;
        width: 372px;
        height: 100%;
        display: table; }
        .commons--content section .commons--content-example .commons--example-container .commons--example-buttons {
          display: table-cell;
          vertical-align: middle; }
          .commons--content section .commons--content-example .commons--example-container .commons--example-buttons .commons--example-buttons-atb {
            margin-bottom: 12px; }
          .commons--content section .commons--content-example .commons--example-container .commons--example-buttons .commons--example-buttons-secondary {
            display: flex;
            justify-content: space-between;
            width: 100%; }
    .commons--content section.commons--content-usage .commons--content-variations {
      background: #FFF; }
      .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples {
        padding: 30px 0;
        border-bottom: 1px solid #F5F5F5; }
        .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl {
          margin: 30px;
          display: flex; }
          .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dt {
            padding: 15px;
            width: 50%;
            max-width: 375px; }
          .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dd {
            position: relative;
            padding: 15px;
            width: 50%;
            background: #F5F5F5; }
            .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dd code {
              position: relative; }
            .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dd .copy {
              position: absolute;
              top: 10px;
              right: 10px;
              width: 30px;
              height: 30px;
              background: transparent url("../img/icon-copy.svg") no-repeat center center;
              opacity: .5;
              cursor: pointer; }
              .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dd .copy:hover {
                background-color: #FFF;
                opacity: 1; }
              .commons--content section.commons--content-usage .commons--content-variations .commons--content-examples dl dd .copy:active {
                background-color: #FFF;
                opacity: 1; }
      .commons--content section.commons--content-usage .commons--content-variations .commons--content-code {
        padding: 30px 0; }
    .commons--content section.commons--content-properties .commons--content-property {
      margin-bottom: 30px; }
      .commons--content section.commons--content-properties .commons--content-property .commons--content-property-header {
        margin: 10px 0;
        border-bottom: 1px solid #E5E5E5; }
        .commons--content section.commons--content-properties .commons--content-property .commons--content-property-header code {
          font-size: 13px;
          padding: 4px 6px; }
        .commons--content section.commons--content-properties .commons--content-property .commons--content-property-header code:first-child {
          background: red; }
        .commons--content section.commons--content-properties .commons--content-property .commons--content-property-header code:last-child {
          background: blue; }

/*# sourceMappingURL=global.css.map */
