$color-white:#FFF;
$color-black:#000;
$color-gray:#F5F5F5;
$color-gray-border:#E5E5E5;
$color-green:#05AF71;
$color-green-alt:#00AD77;

@mixin border-radius($radius...) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	        border-radius: $radius;
}
@mixin box-shadow($shadows...) {
	-webkit-box-shadow: $shadows;
	   -moz-box-shadow: $shadows;
	        box-shadow: $shadows;
}
@mixin transition($transition...) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	    -ms-transition: $transition;
	     -o-transition: $transition;
	        transition: $transition;
}
@mixin rewards-gradient($from, $to) {
  background: $to;
	background: -moz-linear-gradient(210deg, $from 20%, $to 80%);
	background: -webkit-gradient(linear, 210deg, color-stop(20%,$from), color-stop(80%,$to));
	background: -webkit-linear-gradient(210deg, $from 20%, $to 80%);
	background: -o-linear-gradient(210deg, $from 20%, $to 80%);
	background: linear-gradient(210deg, $from 20%, $to 80%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

%transition-all {
	@include transition(all .3s ease-in-out 0s);
}
%transition-all-text {
	@include transition(all .2s ease-in-out 0s);
}
%border-radius {
	@include border-radius(3px);
}
%border-radius-pill {
	@include border-radius(500px);
}
%shadow-wide {
	@include box-shadow(0 0 8px 0 rgba(0,0,0,0.15));
}
%shadow-box {
	@include box-shadow(0px 1px 2px rgba(0,0,0,.15));
}
%shadow-none {
	@include box-shadow(0px 1px 2px rgba(0,0,0,.0));
}

@mixin bp($point) {

  $bp-iphonex:
	"(device-width : 375px)
  and (device-height : 812px)
	and (-webkit-device-pixel-ratio : 3)";
	$bp-600:		"(max-width: 600px)";
  $bp-768:		"(max-width: 768px)";
  $bp-1024:	  "(max-width: 1024px)";
  $bp-1440:		"(max-width: 1440px)";

  @if $point == 1440 {
     @media #{$bp-1440} { @content; }
  }

	@else if $point == 1024 {
    @media #{$bp-1024} { @content; }
  }

  @else if $point == 768 {
    @media #{$bp-768} { @content; }
  }

  @else if $point == 600 {
    @media #{$bp-600}  { @content; }
  }

  @else if $point == iphonex {
    @media #{$bp-iphonex}  { @content; }
  }
}
%img {
	display: block;
	max-width: 100%;
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: .3px;
  color: #000;
  -webkit-font-smoothing: antialiased;
	background: $color-gray;
}
input, button, select, textarea {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-size: 20px;
	font-weight: 500;
	color: #000;
	letter-spacing: -0.3px;
	line-height: 20px;
}
h2 {
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
}
h3 {
	padding: 0 30px;
	margin: 0 0 15px;
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
	color: $color-green;
	letter-spacing: 0;
}
a {
	color: $color-green-alt;
	text-decoration: none;

	&:focus {
	  outline: 1px dotted #000;
	}
}
img {
	display: block;
	max-width: 100%;
}


.commons--nav {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	width: 300px;
	height: 100%;
	background: $color-white;
	@extend %shadow-wide;

	.commons--nav-main {
		width: 60px;
		height: 100%;
		background: linear-gradient(0deg, #19ac86, #26c8d9, #1088ac);
		background-size: 600% 600%;

		-webkit-animation: AnimationName 18s ease infinite;
		-moz-animation: AnimationName 18s ease infinite;
		animation: AnimationName 18s ease infinite;

		@-webkit-keyframes AnimationName {
				0%{background-position:50% 0%}
				50%{background-position:51% 100%}
				100%{background-position:50% 0%}
		}
		@-moz-keyframes AnimationName {
				0%{background-position:50% 0%}
				50%{background-position:51% 100%}
				100%{background-position:50% 0%}
		}
		@keyframes AnimationName { 
				0%{background-position:50% 0%}
				50%{background-position:51% 100%}
				100%{background-position:50% 0%}
		}


		.commons-nav-logo {
			margin: 8px;
			width: 44px;
			height: 44px;

			a {
				display: block;
				width: 44px;
				height: 44px;
				text-indent: -9999px;
				background: url('../assets/img/jcrew-commons-logo.svg') no-repeat center center;
			}
		}

	}

	.commons--nav-subnav {
		padding: 0;
		width: 240px;
		height: 100%;
		background: $color-white;
		overflow: scroll;

		.commons--subnav-header {
			margin: 18px 0 30px 15px;

			a {
				display: block;
				width: 134px;
				height: 26px;
				text-indent: -9999px;
				background: url('../assets/img/commons-logo.svg') no-repeat left top;
			}
		}

		ul {
			list-style: none;
			margin-bottom: 25px;
			padding: 0 15px;

			li {
				width: 100%;
				font-size: 14px;
				a {
					@extend %border-radius;
					display: block;
					padding: 0 15px;
					height: 40px;
					line-height: 40px;
					color: $color-black;
					@extend %transition-all-text;
					&:hover {
						background: $color-gray;
					}
				}
				&.active a {
					color: $color-green-alt;
					background: $color-gray;
				}
			}
		}
	}
}

.commons--content {
	margin-left: 300px;
	width: calc(100% - 300px);

	section {
		margin: 0 auto;
		padding: 30px;
		min-width: 640px;
		max-width: 960px;

		&.commons--content-header {
			h1 {
				margin-bottom: 15px;
			}
			p {
				margin-bottom: 30px;
			}
		}

		.commons--content-example {
			position: relative;
			width: 100%;
			height: 480px;
			background: #FFF;
			@extend %border-radius;
			@extend %shadow-box;

			.commons--example-container {
				position: relative;
				margin: 0 auto;
				width: 372px;
				height: 100%;
				display: table;

				.commons--example-buttons {
					display: table-cell;
					vertical-align: middle;

					.commons--example-buttons-atb {
						margin-bottom: 12px;
					}

					.commons--example-buttons-secondary {
						display: flex;
						justify-content: space-between;
						width: 100%;
					}
				}
			}
		}

		&.commons--content-usage {
			.commons--import-code {
				margin-bottom: 60px;
				background: #FFF;
				min-height: 36px;
				width: 100%;
				@extend %border-radius;
				@extend %shadow-box;
			}
			.commons--content-variations {
				background: #FFF;
				@extend %border-radius;
				@extend %shadow-box;

				.commons--content-examples {
					border-bottom: 1px solid $color-gray;
					dl {
						padding: 30px;
						display: flex;

						dt {
							padding-right: 30px;
							width: 50%;
						}

						dd {
							position: relative;
							padding: 0;
							width: 50%;
							background: $color-gray;
							@extend %border-radius;

						}
					}
				}

				.commons--content-code {
				}
			}
		}
		&.commons--content-properties {
			.commons--content-property {
				margin-bottom: 30px;

				.commons--content-property-header {
					margin-bottom: 10px;
					padding-bottom: 10px;
					border-bottom: 1px solid $color-gray-border;

					code {
						font-size: 13px;
						padding: 4px 6px;
						@extend %border-radius;
					}
					code:first-child {
						margin-right: 10px;
						background: $color-green;

					}
					code:last-child {
						background: $color-gray-border;
					}
				}
				p {
					margin-bottom: 10px;
					font-size: 14px;
					line-height: 1.4;
				}
			}
		}
	}
}
.syntax-container {
	overflow: hidden;
  margin: 0 auto;
  width: 800px;
  position: relative;

	&-click {
    position: absolute;
    bottom: 5%;
    right: 43%;
    background:rgba(0,0,0,0.7);
    width: 141px;
    padding: 2px 22px;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
  }
	&-copy {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 30px;
		height: 30px;
		background: transparent url('../assets/img/icon-copy.svg') no-repeat center center;
		opacity: .5;
		cursor: pointer;
		@extend %border-radius;
		@extend %transition-all-text;

		&:hover {
			background-color: $color-white;
			opacity: 1;
			@extend %shadow-box;
		}
		&:active {
			background-color: $color-white;
			opacity: 1;
			@extend %shadow-none;
		}
	}
}
