@import 'jc-global';


%btn-44 {
	padding: 0 24px;
	font-size: 0.8125rem;
	line-height: 44px;
	letter-spacing: 1px;
	text-transform: uppercase;
	height: 44px;
	&:active {
		position: relative;
		@include box-shadow(0 1px 3px 0 rgba(0,0,0,0));
	}
	&.button--disabled {
		color: #AAA;
		background: $color-grey-border;
		cursor: not-allowed;
		@include box-shadow(0 1px 3px 0 rgba(0,0,0,0));
		&:hover {
			background: $color-grey-border;
		}
	}
}

%btn-36 {
	padding: 0 18px;
	font-size: 0.75rem;
	line-height: 36px;
	letter-spacing: 1px;
	text-transform: uppercase;
	height: 36px;
	&:active {
		position: relative;
		@include box-shadow(0 1px 3px 0 rgba(0,0,0,0));
	}
	&.button--disabled {
		color: #aaa;
		background: $color-grey-border;
		cursor: not-allowed;
		@include box-shadow(0 1px 3px 0 rgba(0,0,0,0));
		&:hover {
			background: $color-grey-border;
		}
	}
}

%btn-dark {
	font-weight: 700;
	@extend %button-shadow;
}

%btn-light {
	font-weight: 400;
}

%btn-primary {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 1.5px;
	width: 100%;
	@extend %button-shadow;
}

button {
	font-size: 1rem;
	font-weight: 700;
	line-height: 1.4;
	text-align: center;
	color: $color-black;
	background: $color-white;
	width: auto;
	border: none;
	cursor: pointer;
	box-sizing: border-box;
	@extend %border-radius;
	@include transition(all .1s ease-in-out 0s);

	&.button--blue {
		@extend %btn-44;
		@extend %btn-dark;
		color: $color-white;
		background: $color-blue;
		&:hover {
			background: #2074FF;
		}
	}

	&.button--white {
		@extend %btn-44;
		@extend %btn-light;
		color: $color-blue;
		background: $color-white;
		@extend %button-shadow;
	}

	&.button--subtle {
		@extend %btn-44;
		@extend %btn-light;
		text-transform: none;
		color: $color-blue;
		background: $color-white;
	}

	&.button--quickshop {
		position: absolute;
		bottom: 12px;
		left: 12px;
		width: calc(100% - 24px);
		@extend %btn-36;
		@extend %btn-light;
		color: $color-black;
		background: rgba(255, 255, 255, .8);
		border: 1px solid $color-grey-border;
		&:hover {
			background: rgba(255, 255, 255, 1);
		}
		&:active {
			position: absolute;
		}
	}

	&.button--pdp-secondary {
		@extend %btn-36;
		@extend %btn-light;
		color: $color-black;
		background: $color-grey-bg-light;
		&:hover {
			background: #E2E2E2;
		}
	}

	&.button--add-to-bag {
		@extend %btn-44;
		@extend %btn-primary;
		color: $color-white;
		background: $color-black;
		&:hover {
			background: #222;
		}
	}

	&.button--transact {
		@extend %btn-44;
		@extend %btn-primary;
		color: $color-white;
		background: $color-blue;
		&:hover {
			background: #2074FF;
		}
	}

	&.button--pill {
		@extend %border-radius-pill;
		padding: 0 18px;
		height: 30px;
		line-height: 30px;
		font-size: 10px;
		font-weight: 400;
		letter-spacing: 2px;
		text-transform: uppercase;
		color: $color-blue;
		background: $color-white;
		&:hover {
			@include box-shadow(0 0 10px 0 rgba(0,0,0,.05));
		}
	}

	&.button--cta {
		padding: 0;
		height: 44px;
		line-height: 36px;
		font-size: 13px;
		font-weight: 700;
		color: $color-black;
		background: transparent;
		border-bottom: 2px solid $color-black;
		@include border-radius(0);
		&:hover {

		}
	}

	&:focus {
	  outline: 1px dotted $color-black;
	}
}

dl {
	margin: 30px;
	display: flex;

	dt {
		padding: 15px;
		width: 50%;
		max-width: 375px;
	}

	dd {
		padding: 15px;
		width: 50%;
	}
}

.product-tile {
	position: relative;
	width: 100%;

	.product-tile--image {
		position: relative;
	}

	img {
		display: block;
		max-width: 100%;
	}
}
