$color-white:#FFF;
$color-black:#000;
$color-gray:#F5F5F5;
$color-gray-border:#E5E5E5;
$color-green:#05AF71;
$color-green-alt:#00AD77;

@mixin border-radius($radius...) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	    -ms-border-radius: $radius;
	        border-radius: $radius;
}
@mixin box-shadow($shadows...) {
	-webkit-box-shadow: $shadows;
	   -moz-box-shadow: $shadows;
	        box-shadow: $shadows;
}
@mixin transition($transition...) {
	-webkit-transition: $transition;
	   -moz-transition: $transition;
	    -ms-transition: $transition;
	     -o-transition: $transition;
	        transition: $transition;
}
@mixin rewards-gradient($from, $to) {
  background: $to;
	background: -moz-linear-gradient(210deg, $from 20%, $to 80%);
	background: -webkit-gradient(linear, 210deg, color-stop(20%,$from), color-stop(80%,$to));
	background: -webkit-linear-gradient(210deg, $from 20%, $to 80%);
	background: -o-linear-gradient(210deg, $from 20%, $to 80%);
	background: linear-gradient(210deg, $from 20%, $to 80%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#{$from}, endColorstr=#{$to})
}

%transition-all {
	@include transition(all .3s ease-in-out 0s);
}
%transition-all-text {
	@include transition(all .2s ease-in-out 0s);
}
%border-radius {
	@include border-radius(3px);
}
%border-radius-pill {
	@include border-radius(500px);
}
%shadow-wide {
	@include box-shadow(0 0 8px 0 rgba(0,0,0,0.15));
}
%shadow-box {
	@include box-shadow(0px 1px 2px rgba(0,0,0,.15));
}

@mixin bp($point) {

  $bp-iphonex:
	"(device-width : 375px)
  and (device-height : 812px)
	and (-webkit-device-pixel-ratio : 3)";
	$bp-600:		"(max-width: 600px)";
  $bp-768:		"(max-width: 768px)";
  $bp-1024:	  "(max-width: 1024px)";
  $bp-1440:		"(max-width: 1440px)";

  @if $point == 1440 {
     @media #{$bp-1440} { @content; }
  }

	@else if $point == 1024 {
    @media #{$bp-1024} { @content; }
  }

  @else if $point == 768 {
    @media #{$bp-768} { @content; }
  }

  @else if $point == 600 {
    @media #{$bp-600}  { @content; }
  }

  @else if $point == iphonex {
    @media #{$bp-iphonex}  { @content; }
  }
}
%img {
	display: block;
	max-width: 100%;
}




// base styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  font-family: soleil, serif;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: .3px;
  color: #000;
  -webkit-font-smoothing: antialiased;
	background: $color-gray;
}
main {
	padding: 35px 35px 35px 335px;
}
input, button, select, textarea {
	font-family: soleil, serif;
	-webkit-font-smoothing: antialiased;
}
h1 {
	font-family: freightbig pro;
	font-size: 20px;
	font-weight: 500;
	color: #000;
	letter-spacing: -0.3px;
	line-height: 20px;
}
h2 {
	margin-bottom: 12px;
	font-size: 16px;
	line-height: 16px;
	font-weight: 700;
}
h3 {
	padding: 0 30px;
	margin: 0 0 15px;
	font-family: SFUIText-Bold;
	font-size: 11px;
	line-height: 11px;
	text-transform: uppercase;
	color: $color-black;
	letter-spacing: 0;
}
a {
	color: $color-green-alt;
	text-decoration: none;

	&:focus {
	  outline: 1px dotted #000;
	}
}


.commons--nav {
	position: fixed;
	left: 0;
	top: 0;
	display: flex;
	width: 300px;
	height: 100%;
	background: $color-white;
	@extend %shadow-wide;

	.commons--nav-main {
		width: 60px;
		height: 100%;
		background: $color-green;

		.commons-nav-logo {
			margin: 8px;
			width: 44px;
			height: 44px;

			a {
				display: block;
				width: 44px;
				height: 44px;
				text-indent: -9999px;
				background: url('./assets/img/jcrew-commons-logo.svg') no-repeat center center;
			}
		}

	}

	.commons--nav-subnav {
		padding: 30px 0;
		width: 240px;
		height: 100%;
		background: $color-white;
		overflow: scroll;

		ul {
			list-style: none;
			margin-bottom: 25px;
			padding: 0 15px;

			li {
				width: 100%;
				font-family: SFUIText-Medium;
				font-size: 14px;
				a {
					@extend %border-radius;
					display: block;
					padding: 0 15px;
					height: 40px;
					line-height: 40px;
					color: $color-black;
					&:hover {
						background: $color-gray;
					}
				}
				&.active a {
					color: $color-green-alt;
					background: $color-gray;
				}
			}
		}
	}
}
.commons--content {
	padding: 35px 150px;
	.hr-with-margin {
		margin: 12px 0;
	}
}
