.syntax-container {
	overflow: hidden;
  cursor: pointer;
  margin: 0 auto;
  width: 800px;
  position: relative;
	&-click {
    position: absolute;
    bottom: 5%;
    right: 43%;
    background:rgba(0,0,0,0.7);
    width: 141px;
    padding: 2px 22px;
    color: white;
    border-radius: 20px;
    font-size: 12px;
  }
  &-copy {
    position: absolute;
    top: 15px;
    right: 30px;
  }
}